@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.button {
  padding: 20px;
  margin: 0 5px;
  width: 68px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
}
/* .button_operators{
  padding: 20px;
  margin: 0 5px;
  width: 68px;
  border: 3px solid black;
  border-radius: 40%;
  cursor: pointer;
  font-size: 25px;
  background-color: orange;
} */
.row {
  margin: 8px 0;
}
.row input {
  font-size: 24px;
  margin: 0;
  padding: 15px 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(23, 23, 23);
  color: white;
}
#long {
  width: 170px;
  border-radius: 15px;
}
#long1 {
  width: 120px;
  border-radius: 15px;
}
